@import '../../scss/sass-variables';

.footer {
    height: 56px;
    display: flex;
    justify-content: space-between;

    & button {
        width: 80px;
    }

    &__btn {
        padding: 10px 17px;
    }
}