//- Include used template for this page
extends ../../template/template

//- Variables for include this in used template
block variables
    - let title       = 'Blank Title'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = '404'

block breadcrumbs
    .section
        span Хлебные крошки

block content
    section
        h1 Страница 404