@import 'sass-variables';

*,
*:before,
*:after {
    outline: none !important;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

// Removing clear field icon in IE
input[type="text"]::-ms-clear {
    display: none;
}

// Removing the password display icon in IE
input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--color-font-primary);

    &.modal-open {
        overflow: hidden;
    }
}

#header,
#footer {
    flex: none;
}

#main {
    flex: 1 0 auto;
}
